<script>
  function jsUcfirst(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }

  Vue.component('spinner', {
    template: `
      <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content" style="overflow: hidden;">
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>
      </div>
      `
  });


  Vue.component('edit', {
    props: ['item','type'],
    data: function(){
      return {
        sharedState: store.state,
      }
    },
    computed: {
      isEnabled() {
        return this.item.canEdit;
      },
      title() {
        return this.item.edited ? this.$t('message.edited') + ': ' + this.item.edited : this.$t('message.edit2')
      }
    },
    methods: {
      edit() {
        if (this.isEnabled){
          this.$emit('edit', this.item);
        }
      }
    },
    template: 
    `<span>
      <span :class="[isEnabled ? 'action-icon' : 'action-icon-disabled']" @click="edit" :title="title" v-if="isEnabled || item.edited">
        <span v-if="type === 'icon'"> <i class="fas fa-pen"></i></span>
        <span v-else>{{ $t('message.edit2') }}</span>
      </span>
    </span>
    `
  });


  Vue.component('share', {
    props: ['link', 'type'],
    data: function(){
      return {
        sharedState: store.state,
        isOpen: false
      }
    },
    computed: {
    },
    methods: {
      toggle() {
        this.isOpen = !this.isOpen;
        setTimeout(() => {
          this.$refs.shareLink.select();
        }, 50);
        
      },
      copy() {
        this.$refs.shareLink.select();
        try {
          var successful = document.execCommand('copy');
          var msg = successful ? 'successful' : 'unsuccessful';
          // alert('Testing code was copied ' + msg);

          this.toggle();
        } catch (err) {
          alert('Oops, unable to copy');
        }
      }
    },
    template: 
    `<div class="info-button">
      <span class="action-icon" :title="$t('message.shareQuestionTitle')" @click.stop="toggle">
        <span v-if="type === 'icon'"> <i class="fas fa-external-link-alt"></i></span>
        <span v-else>{{ $t('message.share') }}</span>
      </span>
      <div class="box info-button-dialog" v-show="isOpen">
        <div class="field">
          <label class="label">{{ $t('message.shareQuestionTitleBox') }}</label>
          <div class="control">
            <input ref="shareLink" class="input" type="text" placeholder="Link"  :value="link">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link is-small" @click.stop="copy">Copy</button>
          </div>
          <div class="control">
            <button class="button is-light is-small" @click.stop="toggle">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    `
  });


  Vue.component('delete', {
    props: ['item', 'type'],
    data: function(){
      return {
        sharedState: store.state,
        isOpen: false,
        saving: false
      }
    },
    computed: {
    },
    methods: {
      toggle() {
        if (this.saving){
          return;
        }
        
        this.isOpen = !this.isOpen;      
      },
      deleteItem(){
        this.saving = true;
        this.isOpen = false; 

        var self = this;

        google.script.run.withSuccessHandler(function (item) {
            self.saving = false;
            // self.item = item;
            self.item.status = 'Deleted';
          })
          .withFailureHandler(function (e) {
            console.log('error');
            console.log(e.message);
            self.saving = false;
          }).deleteItem(this.item);
      }
    },
    template: 
    `<div class="info-button" v-if="item.canEdit">
      <span class="action-icon" :title="$t('message.deleteTitle')" @click.stop="toggle" v-if="item.status != 'Deleted'">
        <span v-if="type === 'icon'"> <i class="fas fa-trash-alt"></i></span>
        <span v-else>{{ $t('message.delete') }}</span>
      </span>
      <span v-else class="info-deleted">{{ $t('message.deleted') }}</span>

      <span class="action-icon" v-if="saving">
         <i class="fas fa-spinner fa-pulse"></i>
      </span>

      <div class="box info-button-dialog" v-show="isOpen">
        <div class="field">
          <label class="label">{{ $t('message.deleteDialogTitle') }}</label>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-danger is-small" :class="{'is-loading': saving}" @click.stop="deleteItem">Delete</button>
          </div>
          <div class="control">
            <button class="button is-light is-small" @click.stop="toggle" :disabled="saving">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    `
  });


  function closeImgOnEsc(e) {
      if (e.code == 'Escape'){
        closeImg();
      }
    }

  function showImg(image){
    // window.open("").document.write(image.outerHTML);

    document.getElementById('image-viewer-img').src = image.src;
    document.getElementById('image-viewer').style.display = "block";
    document.addEventListener('keydown', closeImgOnEsc);
  }

  function closeImg(){
    document.getElementById('image-viewer').style.display = "none";
    document.removeEventListener('keydown', closeImgOnEsc);
  }

  var mixinUtils = {
    methods: {
      postProcessAnsText(text){
        let out = text;
        const regex = /(<img.*?(?!onclick))[^>]*/g; 
        const found = regex.exec(out);

        if (found){
          out = out.replace(regex, '$& onclick="showImg(this)"')
        }

        return out;
      },
      validateEmail(email) {
          const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(String(email).toLowerCase());
      }
    }
  }

  Vue.component('modalImage', {
    props: ['img'],
    data: function(){
      return {
        sharedState: store.state,
      }
    },
    methods: {
      close() {
        this.$emit('close');
      }
    },
    template: 
    `
    <div class="modal" :class="{'is-active': img}">
      <div class="modal-background"></div>
      <div class="modal-content">
        <img :src="img">
      </div>
      <button class="modal-close is-large" aria-label="close" @click.stop="close"></button>
    </div>
    `
  });
</script>