<script>
  Vue.component('top-bar', {
  data() {
    return {
      sharedState: store.state,
      privateState: {},
      searchText: ''
    }
  },
  methods: {
    search() {
      store.search();
    }
  },
  template: `
  <nav class="navbar is-white" role="navigation" aria-label="main navigation"
    style="border-bottom: 1px solid lightgray;">
    <div class="navbar-brand">
      <strong class="navbar-item">
        G Suite Stack Overflow
      </strong>
      <span class="navbar-item" v-if="sharedState.forum">{{ sharedState.forum.name }}</span>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="buttons">

        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="Search" v-model="sharedState.searchText" @keyup.enter="search">
            </div>
            <div class="control">
              <a class="button is-info" @click="search">
                <span class="icon is-small">
                  <i class="fas fa-search"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light">
              {{ sharedState.user.email }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  `
  });
</script>