<script>
  var compQuestion = Vue.component('question', {
    mixins: [mixinUtils],
    props: ['questionId', 'selectedId'],
    data() {
      return {
        sharedState: store.state,
        quillSettings: quillSettings,
        newAnswerData: {
          text: ''
        },
        addNewCommentParentId: null,
        newCommentData: {
          text: ''
        },
        saving: false,
        editItem: null,
        editItemTmp: null,
        watchersVisible: false,
        addWatcherVisible: false,
        newWatcher: '',
        addWatcherError: false,
        addWatcherProgress: false,
        removeWatcherProgress: [],
        startWatchingProgress: false,
        stopWatchingProgress: false,
      }
    },
    mounted() {
      window.scrollTo(0, 0);
      if (this.selectedId) {
        setTimeout(() => {
          this.selectedId = null;
        }, 2000);
      }

      google.script.run.withSuccessHandler()
        .withFailureHandler(function (e) {
          console.log('error');
          console.log(e);
        }).onClickLog(this.sharedState.forum.id, 'forum', this.questionId);
    },
    computed: {
      selectedQuestion() {
        if (this.sharedState.forum) {
          var out = this.sharedState.forum.questions.filter((x) => {
            return x.id == this.questionId;
          });

          if (out.length) {
            setTimeout(() => {
              if (this.selectedId) {
                this.$refs['foo'].click();
              }
            }, 200)
            return out[0];
          }
        }

        return;
      },
      sortedAnswers() {
        var items = this.sharedState.forum.answers[this.selectedQuestion.id];
        // items.sort(function (a, b) {
        //   var aKey = a.vote;
        //   var bKey = b.vote;
        //   return (aKey > bKey) ? -1 : (aKey < bKey) ? 1 : 0;
        // });

        return items;
      },
    },
    methods: {
      showQuestions() {
        router.push(`/${this.sharedState.forum.id}`);
      },
      showAddNewComment(id) {
        if (this.addNewCommentParentId == id) {
          this.addNewCommentParentId = null;
        } else {
          this.addNewCommentParentId = id;
          this.newCommentData = {
            text: ''
          };

          var refId = 'comment_' + id;

          this.$nextTick(() => {
            if (Array.isArray(this.$refs[refId])) {
              this.$refs[refId][0].focus()
            } else {
              this.$refs[refId].focus()
            }
          })
        }
      },
      cancelAddNewComment() {
        this.addNewCommentParentId = null;
      },
      addComment() {
        var self = this;

        var data = {
          forumId: this.sharedState.forum.id,
          qId: this.selectedQuestion.id,
          aId: this.addNewCommentParentId,
          text: this.newCommentData.text,
        };

        this.saving = true;
        google.script.run.withSuccessHandler(function (data) {
          console.log(data);
          if (!self.sharedState.forum.comments[self.addNewCommentParentId]) {
            self.sharedState.forum.comments[self.addNewCommentParentId] = [];
          }
          self.sharedState.forum.comments[self.addNewCommentParentId].push(data);
          self.addNewCommentParentId = null;
          self.saving = false;
          self.sharedState.forum.lastChange[self.selectedQuestion.id] = data.time;

          var notificationData = {
            forumId: self.sharedState.forum.id,
            forumName: self.sharedState.forum.name,
            userId: self.selectedQuestion.userId,
            qId: data.qId,
            sId: data.id,
            body: self.newCommentData.text
          };

          google.script.run
            .withSuccessHandler()
            .withFailureHandler(function (e) {
              console.log('error');
              console.log(e.message);
            })
            .forumAddEntryNotification('comment', notificationData)
        }).withFailureHandler(function (e) {
          console.log('error');
          console.log(e.message);
          self.saving = false;
        }).forumAddEntry('comment', data);
      },
      addAnswer() {
        var self = this;

        var text = this.postProcessAnsText(this.newAnswerData.text);

        var data = {
          forumId: this.sharedState.forum.id,
          qId: this.selectedQuestion.id,
          text: text
        };

        if (data.text === '') {
          return;
        }

        this.saving = true;
        google.script.run.withSuccessHandler(function (data) {
          if (!self.sharedState.forum.answers[self.selectedQuestion.id]) {
            self.sharedState.forum.answers[self.selectedQuestion.id] = [];
          }
          self.sharedState.forum.answers[self.selectedQuestion.id].push(data);
          self.sharedState.forum.comments[data.id] = [];

          self.newAnswerData.text = '';
          self.saving = false;
          self.sharedState.forum.lastChange[self.selectedQuestion.id] = data.time;

          var notificationData = {
            forumId: self.sharedState.forum.id,
            forumName: self.sharedState.forum.name,
            userId: self.selectedQuestion.userId,
            qId: data.qId,
            sId: data.id,
            body: text
          };

          google.script.run
            .withSuccessHandler((recipients) => {
              // console.log('recipients', recipients);
            })
            .withFailureHandler(function (e) {
              console.log('error');
              console.log(e.message);
            }).forumAddEntryNotification('answer', notificationData)
        }).withFailureHandler(function (e) {
          console.log('error');
          console.log(e.message);
          self.saving = false;
        }).forumAddEntry('answer', data);
      },
      vote(item, value) {
        var self = this;

        if (!this.canVote(item)) {
          return;
        }

        Vue.set(item, 'vote', item.vote + value);
        item.votedBy.push(self.sharedState.user.email);

        google.script.run.withSuccessHandler()
          .withFailureHandler(function (e) {
            console.log('error');
            console.log(e);
            self.saving = false;
          }).forumVote(this.sharedState.forum.id, item.id, value);
      },
      canVote(item) {
        if (item.userId == this.sharedState.user.email || item.votedBy.indexOf(this.sharedState.user.email) != -1) {
          return false;
        }

        return true;
      },
      bestAns(item) {
        Vue.set(this.selectedQuestion, 'bestAns', item.id);

        google.script.run.withSuccessHandler()
          .withFailureHandler(function (e) {
            console.log('error');
            console.log(e);
          }).forumBestAns(this.sharedState.forum.id, this.selectedQuestion.id, item.id);
      },
      editOpen(item) {
        this.editItem = item;
        this.editItemTmp = JSON.parse(JSON.stringify(item));
      },
      editSave() {
        var self = this;
        this.saving = true;

        this.editItem.body = this.postProcessAnsText(this.editItem.body);

        google.script.run.withSuccessHandler(function (item) {
            Vue.set(self.editItem, 'edited', item.edited);
            Vue.set(self.editItem, 'status', item.status);
            if (item.status == 'Deleted') {
              self.editItem.body = self.editItemTmp.body;
            }
            self.editItem = null;
            self.editItemTmp = null;
            self.saving = false;

            var notificationData = {
              forumId: self.sharedState.forum.id,
              forumName: self.sharedState.forum.name,
              userId: item.userId,
              qId: item.qId,
              type: item.type,
              body: item.body
            };

            google.script.run
              .withSuccessHandler()
              .withFailureHandler(function (e) {
                console.log('error');
                console.log(e.message);
              }).forumAddEntryNotification('edit', notificationData)
          })
          .withFailureHandler(function (e) {
            console.log('error');
            console.log(e.message);
            self.saving = false;
          }).editSave(this.editItem);
      },
      editClose() {
        this.editItem.body = this.editItemTmp.body;
        this.editItem = null;
      },
      newRef(p1, p2) {
        return String(p1) + String(p2);
      },
      getItemLink(item) {
        return `${this.sharedState.forum.appUrl}#/${this.sharedState.forum.id}/${this.questionId}/${item.id}`;
      },
      getQuestionLink() {
        return `${this.sharedState.forum.appUrl}#/${this.sharedState.forum.id}/${this.questionId}`;
      },
      toggleWatchers() {
        this.watchersVisible = !this.watchersVisible;
        this.addWatcherVisible = false;
        this.newWatcher = '';
      },
      closeWatchers() {
        this.watchersVisible = false;
        this.addWatcherVisible = false;
        this.newWatcher = '';
      },
      openAddWatcher() {
        this.newWatcher = '';
        this.addWatcherVisible = true;
        this.addWatcherError = false;
      },
      addWatcher(emails, onAfter, onError) {
        emails = emails.split(',');

        var emailsFailed = [];
        var emailsNew = [];

        for (var email of emails) {
          if (this.validateEmail(email)) {
            if (!this.selectedQuestion.watchers.includes(email)) {
              emailsNew.push(email);
              console.log(email);
            }
          } else {
            this.addWatcherError = true;
            emailsFailed.push(email);
          }
        }

        if (!this.addWatcherError) {
          this.newWatcher = '';
          this.addWatcherError = false;
        } else {
          this.newWatcher = emailsFailed.join(',');
        }

        if (emailsNew.length) {
          this.addWatcherProgress = true;

          google.script.run.withSuccessHandler(() => {
              this.addWatcherProgress = false;

              if (!this.addWatcherError) {
                this.addWatcherVisible = false;
              }

              for (let email of emailsNew) {
                this.selectedQuestion.watchers.push(email);
              }

              if (onAfter) {
                onAfter();
              }
            })
            .withFailureHandler((e) => {
              this.addWatcherProgress = false;
              this.addWatcherVisible = false;

              if (!this.addWatcherError) {
                this.addWatcherVisible = false;
              }

              if (onError) {
                onError();
              }

              console.log('error');
              console.log(e);
            }).addWatchers(this.selectedQuestion.forumId, this.selectedQuestion.id, emailsNew);
        }
      },
      removeWatcher(email, onAfter, onError) {
        var index = this.selectedQuestion.watchers.indexOf(email);
        this.removeWatcherProgress.push(email);

        var i = this.removeWatcherProgress.indexOf(email);

        google.script.run.withSuccessHandler(() => {
            this.selectedQuestion.watchers.splice(index, 1);
            this.removeWatcherProgress.splice(i, 1);

            if (onAfter) {
              onAfter();
            }
          })
          .withFailureHandler((e) => {
            this.removeWatcherProgress.splice(i, 1);

            if (onError) {
              onError();
            }

            console.log('error');
            console.log(e);
          }).removeWatcher(this.selectedQuestion.forumId, this.selectedQuestion.id, email);
      },
      stopWatching() {
        if (this.stopWatchingProgress) {
          return;
        }

        this.stopWatchingProgress = true;

        var onAfter = () => {
          this.stopWatchingProgress = false;
        }

        this.removeWatcher(this.sharedState.user.email, onAfter, onAfter);
      },
      startWatching() {
        if (this.startWatchingProgress) {
          return;
        }

        this.startWatchingProgress = true;

        var onAfter = () => {
          this.startWatchingProgress = false;
          // this.selectedQuestion.watchers.push(this.sharedState.user.email);
        }

        this.addWatcher(this.sharedState.user.email, onAfter, onAfter)
      },
      highlight(html) {
        return store.highlight(html);
      }
    },
    template: `
    <div>
      <a :href="'#' + selectedId" ref="foo"></a>
      
      <div class="modal" :class="{'is-active': editItem}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Edit</p>
          </header>
          <section class="modal-card-body" v-if="editItem">
            <div class="field" v-if="editItem.type == 'question'">
              <label class="label">Title</label>
              <input class="input" type="text" v-model="editItem.title">
            </div>
            <div class="field" v-if="editItem.type !== 'comment'">
              <div class="control">
                <label class="label">Body</label>
                <quill-editor v-model="editItem.body" ref="quillEditorA" :options="quillSettings"></quill-editor>
              </div>
            </div>
            <div class="field" v-else>
              <div class="control">
                <input class="input" type="text" v-model="editItem.body">
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-info" :class="{'is-loading': saving}" @click.stop="editSave">Save</button>
              </div>
              <div class="control">
                <button class="button" @click.stop="editClose" :disabled="saving">Cancel</button>
              </div>
            </div>
          </footer>
        </div>
      </div>
    
      <div class="forum-page" @click.stop="closeWatchers" v-if="sharedState.forum">
        <div class="container forum-ans" v-if="selectedQuestion">
          <nav class="level">
            <nav class="level-level">
              <div class="button is-info" @click.stop="showQuestions">Back To Questions</div>
            </nav>
            <nav class="level-level">
              <div class="dropdown is-right" :class="{'is-active': watchersVisible}">
                <div class="dropdown-trigger">
                  <button class="button" :class="{'is-info': selectedQuestion.watchers.includes(sharedState.user.email)}" aria-haspopup="true" aria-controls="dropdown-menu" @click.stop="toggleWatchers">
                    <span><i class="fas fa-eye"></i> {{ selectedQuestion.watchers.length }}</span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="#" class="dropdown-item" @click.stop="startWatching" v-if="!selectedQuestion.watchers.includes(sharedState.user.email)">
                      Start watching <span v-if="startWatchingProgress"><i class="fas fa-spinner fa-pulse"></i></span>
                    </a>
                    <a href="#" class="dropdown-item" @click.stop="stopWatching" v-else>
                      Stop watching <span v-if="stopWatchingProgress"><i class="fas fa-spinner fa-pulse"></i></span>
                    </a>
                    <hr class="dropdown-divider" v-if="selectedQuestion.watchers.length">
                    <div class="dropdown-item watchers-dropdown-item" v-for="email in selectedQuestion.watchers">
                      <div>{{ email }}</div>
                      <div class="watchers-dropdown-item-progress" v-if="removeWatcherProgress.includes(email)">
                        <span><i class="fas fa-spinner fa-pulse"></i></span>
                      </div>
                      <div class="watchers-dropdown-item-remove" @click.stop="removeWatcher(email)" v-else>
                        <span><i class="fas fa-times"></i></span>
                      </div>
                    </div>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item" @click.stop="openAddWatcher" v-if="!addWatcherVisible">
                      <i class="fas fa-plus"></i> Add watcher
                    </a>
                    <div class="dropdown-item" v-if="addWatcherVisible">
                      <div class="field is-grouped">
                        <p class="control is-expanded">
                          <input type="email" name="email" autocomplete="email" class="input" :class="{'is-danger': addWatcherError}" placeholder="Enter email" v-model="newWatcher" :disabled="addWatcherProgress" @click.stop="">
                        </p>
                        <p class="control">
                          <a class="button is-info" :class="{'is-loading': addWatcherProgress}" @click.stop="addWatcher(newWatcher)">
                            <i class="fas fa-plus"></i>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </nav>
          <div class="forum-ans-title" v-html="highlight(selectedQuestion.title)"></div>
          <div class="forum-ans-list">
            <div class="forum-ans-row forum-ans-question" :class="{'forum-selected-item': selectedQuestion.id == selectedId, 'forum-item-deleted': selectedQuestion.status == 'Deleted'}">
              <div class="forum-ans-row-left">
                <div class="forum-ans-row-left-vote" @click.stop="vote(selectedQuestion, 1)"
                    :class="{'forum-ans-row-left-vote-disabled': !canVote(selectedQuestion)}">
                  <i class="fas fa-caret-up" title="Pytanie jest przydatne"></i>
                </div>
                <div class="forum-ans-row-left-vote-value">
                  {{ selectedQuestion.vote }}
                </div>
                <div class="forum-ans-row-left-vote" @click.stop="vote(selectedQuestion, -1)"
                    :class="{'forum-ans-row-left-vote-disabled': !canVote(selectedQuestion)}">
                  <i class="fas fa-caret-down" title="Pytanie nie jest przydatne"></i>
                </div>
                <div v-if="sharedState.user.email == selectedQuestion.userId">
                  <div class="forum-ans-row-left-bestAns" :class="{'forum-ans-row-left-bestAns-selected-owner' : selectedQuestion.bestAns == selectedQuestion.id}" @click.stop="bestAns(selectedQuestion)">
                    <i class="fas fa-check"></i>
                  </div>
                </div>
                <div class="forum-ans-row-left-bestAns forum-ans-row-left-bestAns-selected" v-else-if="selectedQuestion.bestAns == selectedQuestion.id">
                  <i class="fas fa-check" title="Zadający pytanie uważa, że ta odpowiedź jest najlepsza"></i>
                </div>
              </div>
              <div class="forum-ans-row-content">
                <div class="forum-ans-row-content-body" v-html="highlight(selectedQuestion.body)"></div>
                <div class="forum-ans-row-content-info">
                  <div class="forum-ans-row-content-info-left">
                    <edit :item="selectedQuestion" @edit="editOpen"></edit>
                  </div>
                  <div class="forum-ans-row-content-info-right">
                    <span class="user-name"> {{ selectedQuestion.userName }}</span>
                    <span> {{ selectedQuestion.time }}</span>
                    <a class="action-icon" :href="getQuestionLink()" target="blank"><i class="fas fa-external-link-alt"></i></a>
                  </div>
                </div>
                <div class="forum-ans-comments">
                  <div class="forum-ans-comments-list">
                    <div class="forum-ans-comments-list-row" :class="{'forum-selected-item': comment.id == selectedId, 'forum-item-deleted': comment.status == 'Deleted'}"
                      v-for="comment in sharedState.forum.comments[selectedQuestion.id]">
                      <span v-html="highlight(comment.body)"></span>
                      <span class="user-name"> - {{ comment.userName }}</span>
                      <span> {{ comment.time }}</span>
                      <edit :item="comment" type="icon" @edit="editOpen"></edit>
                    </div>
                  </div>
                  <div>
                    <span class="forum-ans-comments-add" @click.stop="showAddNewComment(selectedQuestion.id)"
                      v-if="!sharedState.forum.am.isClosed">add a comment</span>
                  </div>
                  <div class="forum-ans-comments-new" v-show="addNewCommentParentId == selectedQuestion.id">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" v-model="newCommentData.text" :ref="newRef('comment_',selectedQuestion.id)">
                      </div>
                    </div>
                    <div class="field is-grouped">
                      <div class="control">
                        <button class="button is-info" :class="{'is-loading': saving}" @click.stop="addComment"
                          :disabled="saving">Save</button>
                      </div>
                      <div class="control">
                        <button class="button" @click.stop="cancelAddNewComment" :disabled="saving">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="forum-ans-separator">{{ sharedState.forum.answers[selectedQuestion.id] ? sharedState.forum.answers[selectedQuestion.id].length : 0 }} Answers</div>
          <div class="forum-ans-list">
            <div class="forum-ans-row" :id="ans.id" :class="{'forum-selected-item': ans.id == selectedId, 'forum-item-deleted': ans.status == 'Deleted'}"
              v-for="ans in sortedAnswers">
              <div class="forum-ans-row-left">
                <div class="forum-ans-row-left-vote" @click.stop="vote(ans, 1)"
                :class="{'forum-ans-row-left-vote-disabled': !canVote(ans)}">
                  <i class="fas fa-caret-up"
                  title="Odpowiedź jest przydatna"></i>
                </div>
                <div class="forum-ans-row-left-vote-value">
                  {{ ans.vote }}
                </div>
                <div class="forum-ans-row-left-vote" @click.stop="vote(ans, -1)"
                :class="{'forum-ans-row-left-vote-disabled': !canVote(ans)}">
                  <i class="fas fa-caret-down"
                  title="Odpowiedź nie jest przydatna"></i>
                </div>
                <div v-if="sharedState.user.email == selectedQuestion.userId">
                  <div class="forum-ans-row-left-bestAns" :class="{'forum-ans-row-left-bestAns-selected-owner' : selectedQuestion.bestAns == ans.id}" @click.stop="bestAns(ans)">
                    <i class="fas fa-check"></i>
                  </div>
                </div>
                <div class="forum-ans-row-left-bestAns forum-ans-row-left-bestAns-selected" v-else-if="selectedQuestion.bestAns == ans.id">
                  <i class="fas fa-check" title="Zadający pytanie uważa, że ta odpowiedź jest najlepsza"></i>
                </div>
              </div>
              <div class="forum-ans-row-content">
                <div class="forum-ans-row-content-body" v-html="highlight(ans.body)"></div>
                <div class="forum-ans-row-content-info">
                  <div class="forum-ans-row-content-info-left">
                    <edit :item="ans" @edit="editOpen"></edit>
                  </div>
                  <div class="forum-ans-row-content-info-right">
                    <span class="user-name"> {{ ans.userName }}</span>
                    <span> {{ ans.time }}</span>
                    <a class="action-icon" :href="getItemLink(ans)" target="blank"><i class="fas fa-external-link-alt"></i></a>
                  </div>
                </div>
                <div class="forum-ans-comments">
                  <div class="forum-ans-comments-list">
                    <div class="forum-ans-comments-list-row" :id="comment.id"
                      :class="{'forum-selected-item': comment.id == selectedId, 'forum-item-deleted': comment.status == 'Deleted'}"
                      v-for="comment in sharedState.forum.comments[ans.id]">
                      <span v-html="highlight(comment.body)"></span>
                      <span class="user-name"> - {{ comment.userName }}</span>
                      <span> {{ comment.time }}</span>
                      <edit :item="comment" type="icon" @edit="editOpen"></edit>
                    </div>
                  </div>
                  <div>
                    <span class="forum-ans-comments-add" @click.stop="showAddNewComment(ans.id)" v-if="!sharedState.forum.am.isClosed">add a comment</span>
                  </div>
                  <div class="forum-ans-comments-new" v-show="addNewCommentParentId == ans.id">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" v-model="newCommentData.text" :ref="newRef('comment_',ans.id)">
                      </div>
                    </div>
                    <div class="field is-grouped">
                      <div class="control">
                        <button class="button is-info" :class="{'is-loading': saving}" @click.stop="addComment"
                          :disabled="saving">Save</button>
                      </div>
                      <div class="control">
                        <button class="button" @click.stop="cancelAddNewComment" :disabled="saving">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="!sharedState.forum.am.isClosed">
            <div class="forum-ans-text">Your Answer</div>
            <!--<div class="editor"></div>-->
            <quill-editor class="quill-restyle" v-model="newAnswerData.text" ref="quillEditorA" :options="quillSettings">
            </quill-editor>
            <div class="forum-ans-add">
              <div class="button is-info" :class="{'is-loading': saving}" @click.stop="addAnswer" :disabled="saving">Post Your Answer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    `
  });
</script>