<script>
var compQuestion = Vue.component('question', {
    props: ['user', 'am', 'data', 'questionId', 'selectedId'],
    data() {
      return {
        editorOption: quillSettings,
        newAnswerData: {
          text: ''
        },
        addNewCommentParentId: null,
        newCommentData: {
          text: ''
        },
        saving: false,
        editItem: null,
        editItemTmp: null,
      }
    },
    created() {
      console.log('question');
      console.log('questionId', this.questionId);
    },
    mounted() {
      // Show given entry

    },
    computed: {
      selectedQuestion() {
        if (this.data){
          var out = this.data.questions.filter((x) => {
            return x.id == this.questionId;
          });

          if (out.length) {
            setTimeout(()=>{
            if (this.selectedId) {
              this.$refs['foo'].click();
            }
            }, 200)
            return out[0];
          }
        }
        
        return;
      },
      sortedAnswers() {
          var items = this.data.answers[this.selectedQuestion.id];
          items.sort(function (a, b) {
            var aKey = a.vote;
            var bKey = b.vote;
            return (aKey > bKey) ? -1 : (aKey < bKey) ? 1 : 0;
          });

          return items;
        },
    },
    methods: {
        showQuestions() {
          this.pageId = 'questions';
          router.push(`/forum/${this.am.id}/list`);
        },
        showAddNewComment(id) {
          if (this.addNewCommentParentId == id) {
            this.addNewCommentParentId = null;
          } else {
            this.addNewCommentParentId = id;
            this.newCommentData = {
              text: ''
            };

            var refId = 'comment_' + id;

            this.$nextTick(() => {
              if (Array.isArray(this.$refs[refId])) {
                this.$refs[refId][0].focus()
              } else {
                this.$refs[refId].focus()
              }
            })
          }
        },
        cancelAddNewComment() {
          this.addNewCommentParentId = null;
        },
        addComment() {
          var self = this;

          var data = {
            forumId: this.am.id,
            qId: this.selectedQuestion.id,
            aId: this.addNewCommentParentId,
            text: this.newCommentData.text,
          };

          this.saving = true;
          google.script.run.withSuccessHandler(function (data) {
            console.log(data);
            if (!self.data.comments[self.addNewCommentParentId]) {
              self.data.comments[self.addNewCommentParentId] = [];
            }
            self.data.comments[self.addNewCommentParentId].push(data);
            self.addNewCommentParentId = null;
            self.saving = false;
            self.data.lastChange[self.selectedQuestion.id] = data.time;

            google.script.run.withSuccessHandler(function (data) {}).withFailureHandler(
              function (e) {
                console.log('error');
                console.log(e.message);
              }).forumAddEntryNotification('comment', {
              am: self.am,
              qId: data.qId,
              sId: data.id
            })
          }).withFailureHandler(function (e) {
            console.log('error');
            console.log(e.message);
            self.saving = false;
          }).forumAddEntry('comment', data);
        },
        addAnswer() {
          var self = this;

          var data = {
            forumId: this.am.id,
            qId: this.selectedQuestion.id,
            text: this.newAnswerData.text
          };

          if (data.text === '') {
            console.log('Empty answer!');
            return;
          }

          this.saving = true;
          google.script.run.withSuccessHandler(function (data) {
            if (!self.data.answers[self.selectedQuestion.id]) {
              self.data.answers[self.selectedQuestion.id] = [];
            }
            self.data.answers[self.selectedQuestion.id].push(data);
            self.data.comments[data.id] = [];

            self.newAnswerData.text = '';
            self.saving = false;
            self.data.lastChange[self.selectedQuestion.id] = data.time;

            google.script.run.withSuccessHandler(function (data) {}).withFailureHandler(
              function (e) {
                console.log('error');
                console.log(e.message);
              }).forumAddEntryNotification('answer', {
              am: self.am,
              qId: data.qId,
              sId: data.id
            })
          }).withFailureHandler(function (e) {
            console.log('error');
            console.log(e.message);
            self.saving = false;
          }).forumAddEntry('answer', data);
        },
        vote(item, value) {
          var self = this;

          if (!this.canVote(item)) {
            return;
          }

          Vue.set(item, 'vote', item.vote + value);
          item.votedBy.push(self.user.email);

          google.script.run.withSuccessHandler()
            .withFailureHandler(function (e) {
              console.log('error');
              console.log(e);
              self.saving = false;
            }).forumVote(this.am.id, item.id, value);
        },
        canVote(item) {
          if (item.userId == this.user.email || item.votedBy.indexOf(this.user.email) != -1) {
            return false;
          }

          return true;
        },
        bestAns(item) {
          Vue.set(this.data.bestAns, this.selectedQuestion.id, item.id);
          // this.data.bestAns[this.selectedQuestion.id] = item.id;

          google.script.run.withSuccessHandler()
            .withFailureHandler(function (e) {
              console.log('error');
              console.log(e);
            }).forumBestAns(this.am.id, item.id);
        },
        editOpen(item) {
          this.editItem = item;
          this.editItemTmp = JSON.parse(JSON.stringify(item));
        },
        editSave() {
          var self = this;
          this.saving = true;
          console.log(this.editItem);
          google.script.run.withSuccessHandler(function (item) {
              Vue.set(self.editItem, 'edited', item.edited);
              Vue.set(self.editItem, 'status', item.status);
              if (item.status == 'Deleted'){
                self.editItem.body = self.editItemTmp.body;
              }
              self.editItem = null;
              self.editItemTmp = null;
              self.saving = false;
            })
            .withFailureHandler(function (e) {
              console.log('error');
              console.log(e.message);
              self.saving = false;
            }).editSave(this.editItem);
        },
        editClose() {
          this.editItem.body = this.editItemTmp.body;
          this.editItem = null;
        },
        newRef(p1, p2){
          return String(p1) + String(p2);
        }
    },
    template:
    `
    <div>
    <a :href="'#' + selectedId" ref="foo"></a>
    <div class="modal" :class="{'is-active': editItem}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit</p>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <div class="control" v-if="editItem">
              <quill-editor v-model="editItem.body" ref="quillEditorA" :options="editorOption"
                v-if="editItem.type !== 'comment'"></quill-editor>
              <input class="input" type="text" v-model="editItem.body" v-else>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-info" :class="{'is-loading': saving}" @click="editSave">Save</button>
            </div>
            <div class="control">
              <button class="button" @click="editClose" :disabled="saving">Cancel</button>
            </div>
          </div>
        </footer>
      </div>
    </div>
    
      <div class="forum-page">
        <div class="container forum-ans" v-if="selectedQuestion">
          <div class="field">
            <div class="button is-info" @click="showQuestions">Back To Questions</div>
          </div>
          <div class="forum-ans-title">{{ selectedQuestion.title }}</div>
          <div class="forum-ans-list">
            <div class="forum-ans-row forum-ans-question">
              <div class="forum-ans-row-left">
                <div><span class="icon forum-ans-row-left-vote" @click="vote(selectedQuestion, 1)"
                    :class="{'forum-ans-row-left-vote-disabled': !canVote(selectedQuestion)}"><i class="fas fa-caret-up"
                      title="Pytanie jest przydatne"></i></span></div>
                <div>{{ selectedQuestion.vote }}</div>
                <div><span class="icon forum-ans-row-left-vote" @click="vote(selectedQuestion, -1)"
                    :class="{'forum-ans-row-left-vote-disabled': !canVote(selectedQuestion)}"><i
                      class="fas fa-caret-down" title="Pytanie nie jest przydatne"></i></span>
                </div>
              </div>
              <div class="forum-ans-row-content">
                <div v-html="selectedQuestion.body"></div>
                <div class="forum-ans-row-content-info">
                  <edit-icon :user="user" :item="selectedQuestion" @edit="editOpen"></edit-icon>
                </div>
                <div class="forum-ans-comments">
                  <div class="forum-ans-comments-list">
                    <div class="forum-ans-comments-list-row" :class="{'forum-selected-item': comment.id == selectedId}"
                      v-for="comment in data.comments[selectedQuestion.id]">
                      <span></span>{{ comment.body }} - </span>
                      <edit-icon :user="user" :item="comment" @edit="editOpen"></edit-icon>
                    </div>
                  </div>
                  <div>
                    <span class="forum-ans-comments-add" @click="showAddNewComment(selectedQuestion.id)"
                      v-if="!am.isClosed">add a comment</span>
                  </div>
                  <div class="forum-ans-comments-new" v-show="addNewCommentParentId == selectedQuestion.id">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" v-model="newCommentData.text" :ref="newRef('comment_',selectedQuestion.id)">
                      </div>
                    </div>
                    <div class="field is-grouped">
                      <div class="control">
                        <button class="button is-info" :class="{'is-loading': saving}" @click="addComment"
                          :disabled="saving">Save</button>
                      </div>
                      <div class="control">
                        <button class="button" @click="cancelAddNewComment" :disabled="saving">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="forum-ans-separator">{{ data.answers[selectedQuestion.id] ? data.answers[selectedQuestion.id].length : 0 }} Answers</div>
          <div class="forum-ans-list">
            <div class="forum-ans-row" :id="ans.id" :class="{'forum-selected-item': ans.id == selectedId}"
              v-for="ans in sortedAnswers">
              <div class="forum-ans-row-left">
                <div><span class="icon forum-ans-row-left-vote" @click="vote(ans, 1)"
                    :class="{'forum-ans-row-left-vote-disabled': !canVote(ans)}"><i class="fas fa-caret-up"
                      title="Odpowiedź jest przydatna"></i></span></div>
                <div>{{ ans.vote }}</div>
                <div><span class="icon forum-ans-row-left-vote" @click="vote(ans, -1)"
                    :class="{'forum-ans-row-left-vote-disabled': !canVote(ans)}"><i class="fas fa-caret-down"
                      title="Odpowiedź nie jest przydatna"></i></span>
                </div>
                <div v-if="!data.bestAns[selectedQuestion.id] && user.email == selectedQuestion.userId">
                  <span class="icon forum-ans-row-left-bestAns" @click="bestAns(ans)"><i
                      class="fas fa-check"></i></span></div>
                <div v-if="data.bestAns[selectedQuestion.id] && data.bestAns[selectedQuestion.id] == ans.id">
                  <span class="icon forum-ans-row-left-bestAns-selected"><i class="fas fa-check"
                      title="Zadający pytanie uważa, że ta odpowiedź jest najlepsza"></i></span>
                </div>
              </div>
              <div class="forum-ans-row-content">
                <div v-html="ans.body"></div>
                <div class="forum-ans-row-content-info">
                  <edit-icon :user="user" :item="ans" @edit="editOpen"></edit-icon>
                </div>
                <div class="forum-ans-comments">
                  <div class="forum-ans-comments-list">
                    <div class="forum-ans-comments-list-row" :id="comment.id"
                      :class="{'forum-selected-item': comment.id == selectedId}"
                      v-for="comment in data.comments[ans.id]">
                      <span></span>{{ comment.body }} - </span>
                      <edit-icon :user="user" :item="comment" @edit="editOpen"></edit-icon>
                    </div>
                  </div>
                  <div>
                    <span class="forum-ans-comments-add" @click="showAddNewComment(ans.id)" v-if="!am.isClosed">add a comment</span>
                  </div>
                  <div class="forum-ans-comments-new" v-show="addNewCommentParentId == ans.id">
                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" v-model="newCommentData.text" :ref="newRef('comment_',ans.id)">
                      </div>
                    </div>
                    <div class="field is-grouped">
                      <div class="control">
                        <button class="button is-info" :class="{'is-loading': saving}" @click="addComment"
                          :disabled="saving">Save</button>
                      </div>
                      <div class="control">
                        <button class="button" @click="cancelAddNewComment" :disabled="saving">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="!am.isClosed">
            <div class="forum-ans-text">Your Answer</div>
            <quill-editor v-model="newAnswerData.text" ref="quillEditorA" :options="editorOption">
            </quill-editor>
            <div class="forum-ans-add">
              <div class="button is-info" :class="{'is-loading': saving}" @click="addAnswer" :disabled="saving">Post Your Answer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    `
});
</script>