<script>
  function jsUcfirst(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
  }

  Vue.component('spinner', {
    template: `
      <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content" style="overflow: hidden;">
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>
      </div>
      `
  });


  Vue.component('edit', {
    props: ['item','type'],
    data: function(){
      return {
        sharedState: store.state,
      }
    },
    computed: {
      isEnabled() {
        return this.item.canEdit;
      },
      title() {
        return this.item.edited ? this.$t('message.edited') + ': ' + this.item.edited : this.$t('message.edit2')
      }
    },
    methods: {
      edit() {
        if (this.isEnabled){
          this.$emit('edit', this.item);
        }
      }
    },
    template: 
    `<span>
      <span :class="[isEnabled ? 'action-icon' : 'action-icon-disabled']" @click="edit" :title="title" v-if="isEnabled || item.edited">
        <span v-if="type === 'icon'"> <i class="fas fa-pen"></i></span>
        <span v-else>{{ $t('message.edit2') }}</span>
      </span>
      <span v-if="item.status == 'Deleted'">{{ $t('message.deleted') }}</span>
    </span>
    `
  });

  function showImg(image){
    window.open("").document.write(image.outerHTML);
  }

  var mixinUtils = {
    methods: {
      postProcessAnsText(text){
        let out = text;
        const regex = /(<img.*?(?!onclick))[^>]*/g; 
        const found = regex.exec(out);

        if (found){
          out = out.replace(regex, '$& onclick="showImg(this)"')
        }

        return out;
      },
      validateEmail(email) {
          const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(String(email).toLowerCase());
      }
    }
  }

  Vue.component('modalImage', {
    props: ['img'],
    data: function(){
      return {
        sharedState: store.state,
      }
    },
    methods: {
      close() {
        this.$emit('close');
      }
    },
    template: 
    `
    <div class="modal" :class="{'is-active': img}">
      <div class="modal-background"></div>
      <div class="modal-content">
        <img :src="img">
      </div>
      <button class="modal-close is-large" aria-label="close" @click.stop="close"></button>
    </div>
    `
  });
</script>