<script>
var compForum = Vue.component('forum', {
    props: ['user', 'forumId'],
    components: {
      //questions: compQuestions,
      //question: compQuestion,
    },
    data() {
      return {
        sharedState: store.state,
        privateState: {},
        am: {},
        data: null,
        saving: false,
        loading: false
      }
    },
    created() {
      console.log('getForumData');
      this.loading = true;

      google.script.run.withSuccessHandler((data) => {
        console.log(data);
        this.sharedState.forum = data;
        
        Vue.set(this, 'data', data);
        Vue.set(this, 'am', data.am);
        this.loading = false;
      })
      .withFailureHandler((e) => {
        this.loading = false;
        console.log('error');
        console.log(e);
        console.log(e.message);
      }).getForumData(this.forumId);
    },
    computed: {
    },
    methods: {
      showQuestions() {
        this.pageId = 'questions';
        router.push(`/${this.am.id}`);
      },
    },
    template:
    `
    <div>
      <spinner v-if="loading"></spinner>

      <router-view :user="user" :am="am" :data="data" v-if="data && data.id"></router-view>

      <div class="notification is-warning" v-if="data && data.accessDenied">
        This forum is private. To access it please ask the owner for access rights.
      </div>
      <div class="notification is-warning" v-if="data && data.isClosed">
        This forum is closed.
      </div>
    </div>
    `
});
</script>