<script>
    var compNewForum = Vue.component('v-new-forum', {
      props: ['data'],
      data() {
        return {
          sharedState: store.state,
          quillSettings: quillSettings,
          newForumDataTemplate: {
            name: '',
            description: '',
            is_public: true,
            users: '',
            moderators: '',
          },
          saving: false,
          forumData: null
        }
      },
      created (){
        if (this.sharedState.editForum){
          this.forumData = JSON.parse(JSON.stringify(this.sharedState.editForum));
        } else {
          this.forumData = this.newForumDataTemplate;
        }
      },
      methods: {
        forumAdd(){
          this.saving = true;

          if (this.sharedState.editForum){
            google.script.run.withSuccessHandler((data)=>{
              this.saving = false;
              this.sharedState.newForumFormVisible = false;
              this.sharedState.editForum = null;
              this.$emit('reload');
            }).withFailureHandler((e)=>{
              console.log('error');
              console.log(e.message);
              this.saving = false;
            }).editForum(this.forumData);
          }
          else {
            google.script.run.withSuccessHandler((data)=>{
              this.saving = false;
              this.sharedState.newForumFormVisible = false;
              this.sharedState.editForum = null;
              this.$emit('reload');
            }).withFailureHandler((e)=>{
              console.log('error');
              console.log(e.message);
              this.saving = false;
            }).addForum(this.forumData);
          }

        },
        forumAddCancel(){
          if (!this.saving){
            this.sharedState.newForumFormVisible = false;
            this.sharedState.editForum = null;
          }
        },
      },
      template:
      `
      <div>
        <div class="modal" :class="{'is-active': true}">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title" v-if="!data">New forum</p>
              <p class="modal-card-title" v-else>Edit forum</p>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text"
                    placeholder="" v-model="forumData.name">
                </div>
              </div>
              <div class="field">
                <label class="label">Description</label>
                <div class="control">
                  <input class="input" type="text"
                    placeholder="" v-model="forumData.description">
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox" v-model="forumData.is_public">
                  Is public
                </label>
              </div>
              <div class="field" v-if="!forumData.is_public">
                <label class="label">Users (comma separated users emails)</label>
                <div class="control">
                  <input class="input" type="text"
                    placeholder="" v-model="forumData.users">
                </div>
              </div>
              <div class="field">
                <label class="label">Moderators (comma separated users emails)</label>
                <div class="control">
                  <input class="input" type="text"
                    placeholder="" v-model="forumData.moderators">
                </div>
              </div>
            </section>
            <footer class="modal-card-foot">
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-info" :class="{'is-loading': saving}" @click.stop="forumAdd"
                    :disabled="saving || !forumData.name">Save</button>
                </div>
                <div class="control">
                  <button class="button" @click.stop="forumAddCancel" :disabled="saving">Cancel</button>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
      `
    });
    </script>